<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aerolinea</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Equipaje.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Ruta.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Asiento.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Vuelo.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Usuario.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Reserva.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Horario.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Avion.hbm.xml"/>
    <mapping resource="cr/ac/una/prograIV/aerolineaUNA/domain/Pago.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
